body {
	background-color: #d5f4e6;
	font-family: "Times New Roman", Times, serif;
}

@media screen and (min-width: 480px) {
	fieldset {
		border: #191970;
		font-size: 1.50em;
	}

	form {
		text-align: center;
		background-color: #92a8d1;
		width: 100%;
	}
	
	header {
		text-align: center;
		color: white;
		background-color: #A7C7E7;
	}
	
	header h1 {
		text-align: center;
		font-size: 4.5em;
		margin: 2%;
	}

	input {
		width: 50%;
		height: 15px;
		margin: .5em;
		padding: .5em;
	}

	legend {
		font-size: 1.5em;
		text-align: center;
		margin: 2%;
	}

	label {
		text-align: left;
		height: 30px;
		width: 50%;
		margin: .5em;
		padding: .5em;
	}

	#submit {
		text-align: center;
		background-color: #89CFF0;
		margin-top: .5em;
		margin-bottom: .5em;
		height: 50px;
	}
}

@media screen and (min-width: 992px) {
	legend {
		font-size: 1.5em;
		text-align: center;
		margin: 2%;
	}
	header {
		text-align: center;
		color: white;
		background-color: #A7C7E7;
	}
		
	header h1 {
		text-align: center;
		font-size: 4.5em;
	}
	
	input {
		width: 25%;
		height: 15px;
		margin: .5em;
		padding: .5em;
	}
	
	label {
		text-align: left;
		height: 30px;
		width: 50%;
		margin: .5em;
		padding: .5em;
	}
	
	#submit {
		text-align: center;
		background-color: #89CFF0;
		margin-top: .5em;
		margin-bottom: .5em;
		height: 50px;
	}
	
}