body {
	background-color: light blue;
	font-family: "Times New Roman", Times, serif;
}

@media screen and (min-width: 992px) {
	
fieldset {
	border: dark blue;
	font-size: 1.50em;
}

form {
	text-align: center;
	background-color: white;
	width: 50%
}

h1 {
	text-align: center;
	font-size: large;
}

input {
	width: 50%;
	height: 45px;
}

legend {
	text-align: center;
}

label {
	text-align: left;
	height: 45px;
	width: 50%;
}

#submit {
	text-align: center;
	margin-top: .50em;
	margin-bottom: .50em;
	background-color: light blue;
}
	
	

	